@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: transparent; /* prevent override */
  --foreground: #171717;
}

body {
  background-image: url("/windows7.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed; /* cleaner scrolling */
  color: var(--foreground);
}
